@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.banner {
    position: absolute;
    width: 100%;
    background: rgb(246, 223, 223);
    border-top: 1px solid #ccc;
    top: 60px;
    height: 45px;
    padding: 12px;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
